@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
@import "tailwindcss";

:root {
  font-family: "Arimo", sans-serif;

  /* color-scheme: light dark; */

  background-color: #242424;
  color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

}

/* Force le fond sombre sur les inputs auto-remplis par le navigateur */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px #08080e inset;
  -webkit-text-fill-color: #ffffff;
  transition: background-color 5000s ease-in-out 0s;
}



@media (prefers-color-scheme: light) {
  :root {
    background-color: #ffffff;
    color: #242424;
  }
}
