@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&display=swap");
@import "tailwindcss";

:root {
  font-family: "Arimo", sans-serif;

  /* color-scheme: light dark; */

  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #ffffff;
  }
}
